<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>

<body>
<section  layout:fragment="body">
    <h1>Admin Page</h1>
    <ul>
        <!--    th:each="변수 : 리스트" 해당 반복문은 리스트의 갯수만큼 반복을 돌며 반복도는 해당 데이터를 변수에 담아줌,  숫자 카운팅 기능 없음    -->
        <li th:each="user: ${userPage.content}">
            <h2 th:text="${user.uname}"></h2>
            <p th:text="${user.email}"></p>
            <span th:text="${user.colors}"></span>

            <!-- 동적 url 요청시 th 연산 중괄호 앞에 @추가 -->
            <form th:action="@{'/admin/del/' + ${user.id} }" method="get">
                <button type="submit" onclick="return confirm('정말 삭제하겠습니까?')">delete user</button>
            </form>

            <form th:action="@{'/admin/edit/' + ${user.id} }" method="get">
                <button type="submit">edit user</button>
            </form>
        </li>
    </ul>

    <nav>
        <!--  현재 페이지 기준으로  이전 페이지가 있을때만 출력   -->
        <!--    좌우 버튼을 a 태그로만 작성하면 아래쪽 반복문으로 출력되는 a 요소가 같이 카운팅 되므로 span 으로 감싸서 span 요소 자체를 분기처리    -->
        <span  th:if="${userPage.hasPrevious()}">
             <a  th:href="@{'/admin?page=' + ${userPage.number - 1}}">Prev</a>
        </span>

        <a
                th:each="i: ${#numbers.sequence(0, userPage.totalPages -1)}"
                th:class="${currentPage == i ? 'on' : ''}"
                th:href="${currentPage != i} ? '/admin?page=' + ${i} : null"
                th:text="${i+1}">
        </a>

        <!--   현재 페이지 기준으로 이후 페이지가 있을때만 출력    -->
        <!--    좌우 버튼을 a 태그로만 작성하면 위쪽 반복문으로 출력되는 a 요소가 같이 카운팅 되므로 span 으로 감싸서 span 요소 자체를 분기처리    -->
        <span  th:if="${userPage.hasNext()}">
            <a  th:href="@{'/admin?page=' + ${userPage.number + 1}}">Next</a>
        </span>

    </nav>
</section>
</body>
</html>