
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<section  layout:fragment="body">
    <h1>Login Page</h1>

    <form method="post" action="@{/login/check}">
        <label>Name:</label> <input type="text"  required /><br />
        <label>Email:</label> <input type="email"  required /><br />
        <button type="submit">Login</button>
    </form>
</section>
</body>
</html>